{% for group in Links %}       
<div class="row links-group">
	{% if group.Name != "" %}
		<div class="links-group-title">{{ group.Name|Capitalize }}</div>
	{% endif %}		
	<div class="links"> 
	{% for link in group.Items %}
		{% include 'Blocks/link' %}
	{% endfor %}
	{% include 'Blocks/add_form' %}
	</div>
</div>      
{% endfor %}