<div class="image">
  <!--<div class="file-icon file-icon-lg" data-type="{{ Item.Extension }}"></div>-->
	<!--<div class="extension">{{ Item.Extension }}</div>-->

  <svg version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="svg-icon" d="M438.247,183.129L261.315,6.196h-15.192h-5.633H73.888V506h364.44V183.16L438.247,183.129z M261.315,35.645  l137.153,137.152H261.315V35.645z M94.713,485.175V27.021H240.49v166.601h177.014v291.552H94.713z"/>
  </svg>
</div>

