{% extends 'page_layout' %}

{% block page_title %}{{ ErrorCode }}{% endblock %}

{% block page_content %}
<div class="ui two column centered grid">
  <div class="column">
	<div class="ui basic segment center aligned">
		<h2 class="ui icon header">
		  <div class="content">
			{{ ErrorMessage }}
		  </div>
		</h2>
		<div class="section">
			<a class="ui basic button" href="javasctipt:;" onclick="$('.ui.modal').modal('show');">
			  <i class="icon code"></i>
			  Show details
			</a>
		</div>
	</div>
  </div>
</div>

<div class="ui basic modal">  
  <div class="header center">{{ ErrorMessage }}</div>
  <div class="image content">
    <div class="image">
      <i class="code icon"></i>
    </div>
    <div class="description">
      <p>{{ Exception }}</p>
    </div>
  </div>
</div>
{% endblock %}