{% extends 'layout' %}

{% block content %}
    <div class="row">
        {% include 'Blocks/parent_links' %}
    </div>
    <div class="row">        
        {% block node_content %}{% endblock %}                
    </div>
    <div class="row">
        {% include 'Blocks/links' %}
    </div>    
{% endblock %}