{% extends 'layout' %}

{% block content %}
<div class="row">
    <div class="card">
        <form method='post'>                
            <div class="row field">
                <label for="username">Login</label>
                <input type="text" class="validate" name='username' autofocus>
            </div>
            <div class="row field">
				<label for="password">Password</label>
                <input name="password" type="password" class="validate">
            </div>
            <div class="row text-right">
                <button type="submit" name="action">Sign in</button>
            </div>
        </form>        
    </div>
</div>
{% endblock %}
