{% extends "node" %}

{% block node_content %}      
    <form method="post" id="text-form" style="display:none;">
        <input type="hidden" id="text-field" name="text"/> 
    </form>
    <div class="card">
        <div id="text-content" class="formatted-text">{{ Node.Text }}</div>      
    </div>    
    <div class="row details">
		<div class="col col2-3">
			<div class="system">{{ Node.DateAdded }}</div>                        
		</div>
        <div class="col col1-3 set text-right">           
            <a class="system button small" href="javascript:;" id="save-button">Save</a>
            <a class="system button small" href="/{{ Node.Provider }}/{{ Node.NodeId }}/delete">Delete</a>
        </div> 
    </div>
    <script type="text/javascript">
        var saved = true;
        var editor = initEditor('#text-content');
        editor.subscribe('editableInput', function (event, editable) {
            saved = false;            
        });
        var checkAndSave = function() {            
            if(!saved) {
                $("#text-field").val($("#text-content").html());
                var data = $("#text-form").serialize();

                $.ajax({
                  type: "POST",
                  url: "",
                  data: data,
                  success: function() { 
                    Materialize.toast('Saved', 1000);
                    saved = true;
                  },                  
                  error: function() { 
                    Materialize.toast('Error', 1000);
                    console.log(data);
                  },        
                });
            }
            setTimeout(checkAndSave, 10000);
        };
        setTimeout(checkAndSave, 10000);

        window.onbeforeunload = function confirmExit()
        {
            if (!saved)            
                return "You have some unsaved changes, are you sure want to quit?";            
        }

        $("#save-button").on("click", function(){
            saved = true;
            $("#text-field").val($("#text-content").html());
            $("#text-form").submit();   
        });     
    </script>
{% endblock %}