html, div, body, input {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
div { display: block; }

body {
    background: #f4f4f4 !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 14px;
    line-height: 21px;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}

.wrapper > .main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100%;
    display: flex;
    margin-left: 260px;
    flex-direction: column;
}

.wrapper > .main > .header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

.wrapper > .main > .contentwrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100%;
    display: flex;
    flex-direction: row;
}

.wrapper > .main > .contentwrapper > .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    display: inline-block;
}

.wrapper > .main > .contentwrapper > .notes {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 50%;
    overflow: auto;
    background: white;
    padding: 10px;
}

.ui.breadcrumb {
    margin-bottom: 0 !important;
}

#editor {

}

.responsive {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    /*height: auto;*/
}

[contenteditable]:focus { outline: 0px solid transparent; }