html, div, body, input {
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding-top: 65px;
}

/* GRID */
.row {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.col {
    display: lock;
    float:left;
    /*margin: 1% 0 1% 1.6%;*/
}
.col:first-child { margin-left: 0; }
.row:before,
.row:after { content:""; display:table;}
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */}
.col3-3 { width: 100%; }
.col2-3 { width: 66.5%; }
.col1-3 { width: 33.5%; }

@media only screen and (max-width: 480px) {
    /*.col { margin: 1% 0 1% 0%;}*/
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
/* END OF GRID */

/* HELPERS */
.right { float: right; }
.text-right { text-align: right; }
.center { text-align: center; }
.text-center { text-align: center; }
.hidden { display: none; }
.italic { font-style: italic; }
.full-width { box-sizing: border-box; width: 100%; }
/* END OF HELPERS */


/* LAYOUT */
.container {    
    max-width: 700px;
    margin: 0 auto;    
}
.footer {
    margin-top: 30px;
    padding: 20px 25px;
}
.content {
    margin: 10px;
}
.card {
    background: white;
    padding: 20px 40px;
}
.modal {display: none;}
.details {
    padding: 20px 25px;
}
.system {
    color : #b6b6b6;
}
a.dashed {
    text-decoration: none;
    border-bottom: 1px dashed;
}
a.system:visited { color : #b6b6b6; }
a.system:hover { color : black; }
.set a { 
    margin-right: 10px;
}
.set.text-right a {
    margin-right: 0;
    margin-left: 10px;
}
input { margin: 0; padding: 0; }
textarea:focus, input:focus{
    outline: none;
}
input:not([type=submit]):not([type=file]) {
    padding: 6px 10px;
    border: 0;
    margin: -6px 0;
    border: 1px solid #eee;    
}
button, .button {
    background: none;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
}
button.small, .button.small {
    border-radius: 8px;
    padding: 2px 6px;   
    font-size: 14px;
}

.field {
  box-sizing: border-box;
  margin: 10px 0px 15px 0px;
}

.field label {
  float: left;
  width: 15%;
  box-sizing: border-box;
}

.field input {
  display: block;
  width: 85%;
  box-sizing: border-box;
}
/* END OF LAYOUT */


/* LINKS */
.links-group {
    margin-top: 10px;
    margin-bottom: 30px;
}

.links-group-title {
    font-size: 1.8em;
    margin-bottom: 16px;
    display: inline-block;
}

.links {
}

.link {    
    position: relative;
    cursor: pointer;
    background: white;
    margin-bottom: 1px;
    padding: 10px 25px;
    border-left: 2px solid white;
}

.link-content {
    display: inline-block;    
}

.link-comment {
    font-style: italic;
    float: right;    
    display: inline-block;
    text-align: right;
    max-width: 20%;
}

.link-tools-container {
    position: absolute;
    right: 0px;
    top: 0px;     
    height: 100%;  
    width: 30%;    
    opacity: 0;    
    background: white;    
    
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.link-tools-container:hover {
    opacity: 1;
}

.link-tools {
    padding: 10px 25px;
    text-align: right;
}

.link.url { border-color: blue;}
.link.text { border-color: green;}
.link.file { border-color: red;}
.link.form {    
    margin-bottom: 10px;
}
.form-section {
    border-top: 1px dashed #eee;
    margin-top: 10px;
    padding-top: 10px;
}
/* END OF LINKS */



/* TEXT NODE */
.formatted-text:focus { 
    outline: 0px solid transparent; 
} 

.formatted-text ul {
    list-style-type: disc;
    padding-left:2em;
    margin-left:0;
}

.formatted-text ol {    
    padding-left:2em;
    margin-left:0;
}

.formatted-text ul li {
    list-style-type: disc;
}
/* END OF TEXT NODE */



/* FILE NODE */
.image-file div {
    display: inline-block;   
}
/* END OF FILE NODE*/