{% extends 'file_node' %}

{% block file_content %}
<div class="image-file center-align">
    <div>
        <img class="responsive-img" src="/file/{{Node.Path|UrlEncode}}/raw" data-caption="{{Node.Name}}">
    </div>
</div>
{% endblock %}