{% extends 'file_layout' %}

{% block file_content %}
<div class="image-file center-align">
    <div>
        <img class="responsive-img" src="/raw/{{Item.FullPath}}" data-caption="{{Item.Name}}">
    </div>
</div>
{% endblock %}