{% extends 'file_node' %}

{% block file_content %}
<div class="center-align">
    <video class="responsive-video" controls>
        <source src="/file/{{Node.Path|UrlEncode}}/raw" type="{{Node.Mime}}">
    </video>
</div>
{% endblock %}