<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Memorandum.Web.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Memorandum.Web.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>19000</value>
      </setting>
      <setting name="FileStorage" serializeAs="String">
        <value>C:\home</value>
      </setting>
      <setting name="IndexDotFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Secret" serializeAs="String">
        <value>SomeSecretKeyChangeMePlease</value>
      </setting>
    </Memorandum.Web.Properties.Settings>
  </applicationSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.MySqlDataDriver
      </property>
      <property name="connection.connection_string">
        Server=192.168.1.2;Database=memo;User ID=memo;Password=memo;CharSet=utf8;
      </property>
      <property name="dialect">
        NHibernate.Dialect.MySQL5Dialect
      </property>
    </session-factory>
  </hibernate-configuration>
</configuration>